.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  color: MediumAquamarine;
  padding-bottom: 1em;
}

.logo {
  display: flex;
  flex-grow: 2;
  align-items: center;
  padding-left: 1em;
  border: thin solid black;
}

.logo span {
  padding-left: 1em;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  padding-right: 2em;
}

.main {
  border: thin solid black;
  display: flex;
  padding-top: 2em;
  justify-content: space-between;
}

.large {
  border: thin solid black;
  display: flex;
  flex-direction: column;
  width: 630px;
}

.main-title {
  display: flex;
  border: thin solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 629px;
  height: 300px;
}

.main-title h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.main-body {
  border: thin solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.orca {
  border: thin solid black;
}

.orca p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.earth {
  display: flex;
  border: thin solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  justify-content: center;
  width: 630px;
  height: 300px;
}

.earth h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.burger {
  border: thin solid black;
}

.burger p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.research {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  border: thin solid black;
  justify-content: center;
  height: 300px;
}

.research h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.medium {
  border: thin solid black;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.FBI {
    border: thin solid black;
  }

.FBI p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.cats-heading {
    display: flex;
    border: thin solid black;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
    justify-content: center;
    height: 300px;
  }

.cats-heading h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  }

.cats-body {
  border: thin solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  }

.small {
  border: thin solid black;
  display: flex;
  flex-direction: column;
  width: 240px;
  }

.news-text {
    border: thin solid black;
  }
